@model PokeTypes.Models.Pokemon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PokemonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PokemonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type1)
        </dd>
        @if (Model.Type2 != "") {
            <dt>
                @Html.DisplayNameFor(model => model.Type2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type2)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>Type effectiveness:</h3><br />

@{ 
    double[] resistances = Model.typeEffectiveness(Model.Type1.ToLower(), Model.Type2.ToLower());
    string[] resStr = Model.typeEffectivenessStr(Model.Type1.ToLower(), Model.Type2.ToLower());
}

<h4>Resistant to:</h4>
<ul>
    @for (int i = 0; i < resistances.Length; i++) {
        if (resistances[i] > 1) {
            <li>
                @resStr[i]
            </li>
        }
    }
</ul>

<h4>Weak to:</h4>
<ul>
@for(int i=0; i<resistances.Length; i++) {
    if(resistances[i] < 1) {
        <li>
            @resStr[i]
        </li>
    }
}
</ul>

